### Import relevant libraries

In [220]:
import pandas as pd
import numpy as np
import os
import datetime

### Load the dataset

In [221]:
traffic_data = pd.read_csv(os.path.join(os.path.pardir,'data','raw','train_revised.csv'))

# display the first 5 rows
traffic_data

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity
0,1442,15A,Mpesa,UZUEHCBUSO,17-10-17,7:15,Migori,Nairobi,Bus,49
1,5437,14A,Mpesa,TIHLBUSGTE,19-11-17,7:12,Migori,Nairobi,Bus,49
2,5710,8B,Mpesa,EQX8Q5G19O,26-11-17,7:05,Keroka,Nairobi,Bus,49
3,5777,19A,Mpesa,SGP18CL0ME,27-11-17,7:10,Homa Bay,Nairobi,Bus,49
4,5778,11A,Mpesa,BM97HFRGL9,27-11-17,7:12,Migori,Nairobi,Bus,49
5,5777,18B,Mpesa,B6PBDU30IZ,27-11-17,7:10,Homa Bay,Nairobi,Bus,49
6,5777,14A,Mpesa,MZHGDGS6QZ,27-11-17,7:10,Homa Bay,Nairobi,Bus,49
7,5778,25,Mpesa,MYVTYFNXDZ,27-11-17,7:12,Migori,Nairobi,Bus,49
8,5778,21B,Mpesa,TE1WYK1NYE,27-11-17,7:12,Migori,Nairobi,Bus,49
9,5781,22A,Mpesa,VGG7Q3MVJX,27-11-17,7:09,Homa Bay,Nairobi,Bus,49
10,5781,18B,Mpesa,YJ7JFHOGKA,27-11-17,7:09,Homa Bay,Nairobi,Bus,49
11,5781,17B,Mpesa,4JQOSC881A,27-11-17,7:09,Homa Bay,Nairobi,Bus,49
12,5784,1X,Mpesa,3OPU23FHRB,20-04-18,5:10,Kisii,Nairobi,shuttle,11
13,5789,1X,Mpesa,BPRX4UMFFN,20-04-18,9:50,Kisii,Nairobi,shuttle,11
14,5778,3A,Mpesa,JDD4ZL64LP,27-11-17,7:12,Migori,Nairobi,Bus,49
15,5790,1B,Mpesa,DC8ABRSXXK,20-04-18,7:06,Kisii,Nairobi,Bus,49
16,5791,1,Mpesa,HGQURN0SZS,20-04-18,6:00,Kisii,Nairobi,shuttle,11
17,5792,1,Mpesa,8D9V8HK2FC,20-04-18,5:50,Kisii,Nairobi,shuttle,11
18,5793,1,Mpesa,TTZQDYZHAB,20-04-18,10:58,Kisii,Nairobi,shuttle,11
19,5790,4A,Mpesa,F8VBKYCXPL,20-04-18,7:06,Kisii,Nairobi,Bus,49
20,5794,1,Mpesa,ETNVCDEZLR,20-04-18,6:50,Kisii,Nairobi,shuttle,11
21,5781,18A,Mpesa,KP4YUALFXF,27-11-17,7:09,Homa Bay,Nairobi,Bus,49
22,5778,23A,Mpesa,YZJOJQ3NA3,27-11-17,7:12,Migori,Nairobi,Bus,49
23,5795,1,Mpesa,VIRXVJUIYX,20-04-18,5:30,Kisii,Nairobi,shuttle,11
24,5796,5,Mpesa,9CSSSQN2TN,20-04-18,6:40,Kisii,Nairobi,shuttle,11
25,5796,1,Mpesa,BC0SCWB6NU,20-04-18,6:40,Kisii,Nairobi,shuttle,11
26,5794,5,Mpesa,RKP8WWJZWH,20-04-18,6:50,Kisii,Nairobi,shuttle,11
27,5797,16B,Mpesa,PAHCAZCCYV,27-11-17,7:06,Keroka,Nairobi,Bus,49
28,5798,8,Mpesa,E9VOECFN3N,20-04-18,9:10,Kisii,Nairobi,shuttle,11
29,5797,15B,Mpesa,WAXDMD6UAN,27-11-17,7:06,Keroka,Nairobi,Bus,49
...,...,...,...,...,...,...,...,...,...,...
51615,13812,6A,Mpesa,2RUKWS0GMI,20-04-18,23:10,Ndhiwa,Nairobi,Bus,49
51616,13807,10A,Mpesa,JFOO9IN4MB,20-04-18,7:04,Homa Bay,Nairobi,Bus,49
51617,13807,9A,Mpesa,ENRCTD3BQQ,20-04-18,7:04,Homa Bay,Nairobi,Bus,49
51618,13793,12A,Mpesa,RJLIT9VPK8,20-04-18,7:13,Kehancha,Nairobi,Bus,49
51619,13793,11A,Mpesa,FKOKZUHII6,20-04-18,7:13,Kehancha,Nairobi,Bus,49
51620,13793,9A,Mpesa,OXFS6RPR4Z,20-04-18,7:13,Kehancha,Nairobi,Bus,49
51621,13807,13A,Mpesa,V0BUAZUSKH,20-04-18,7:04,Homa Bay,Nairobi,Bus,49
51622,13796,6B,Mpesa,ZYHCSAOB4K,20-04-18,7:08,Awendo,Nairobi,Bus,49
51623,13796,5B,Mpesa,FAXOQ8YBO6,20-04-18,7:08,Awendo,Nairobi,Bus,49
51624,13813,7B,Mpesa,CTFSLKISMK,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49
51625,13813,10A,Mpesa,TOLYY0JR2F,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49
51626,13796,10B,Mpesa,N71ARJW0RU,20-04-18,7:08,Awendo,Nairobi,Bus,49
51627,13813,12A,Mpesa,GYOB97D35O,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49
51628,13813,11A,Mpesa,VJUYVR3OM4,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49
51629,13801,6B,Mpesa,4IR6PRXGJJ,20-04-18,7:05,Rodi,Nairobi,Bus,49
51630,13813,2B,Mpesa,LEGHC0BUG5,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49
51631,13809,12A,Mpesa,9K8JD8AYHX,20-04-18,8:00,Migori,Nairobi,Bus,49
51632,13809,10A,Mpesa,BFMH2M3XVQ,20-04-18,8:00,Migori,Nairobi,Bus,49
51633,13813,6A,Mpesa,TWTES0YBWD,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49
51634,13812,12A,Mpesa,LSWU20X05R,20-04-18,23:10,Ndhiwa,Nairobi,Bus,49
51635,13812,11A,Mpesa,3M3YEDXR1W,20-04-18,23:10,Ndhiwa,Nairobi,Bus,49
51636,13813,5A,Mpesa,QDV5QMHCG0,20-04-18,7:05,Ndhiwa,Nairobi,Bus,49
51637,13812,5A,Mpesa,DE3JCD4BEW,20-04-18,23:10,Ndhiwa,Nairobi,Bus,49
51638,13812,9A,Mpesa,SBOGQXXRJY,20-04-18,23:10,Ndhiwa,Nairobi,Bus,49
51639,13825,24A,Mpesa,B3R9XWCV9O,20-04-18,7:09,Rongo,Nairobi,Bus,49
51640,13826,9B,Mpesa,8V2XDDZR6V,20-04-18,8:00,Awendo,Nairobi,Bus,49
51641,13809,18A,Mpesa,4PEBSVJSNK,20-04-18,8:00,Migori,Nairobi,Bus,49
51642,13809,17A,Mpesa,LVN64LZDNN,20-04-18,8:00,Migori,Nairobi,Bus,49
51643,13796,16B,Mpesa,REYBSKTYWN,20-04-18,7:08,Awendo,Nairobi,Bus,49
51644,14304,7,Mpesa,AQN7FBUSGP,14-11-17,5:10,Kisii,Nairobi,Bus,49

### Adding a column for the actual weekday

In [222]:
# creating a copy of the dataset
new_trafic_data = traffic_data

# convert values of travel_date columns to datetime
route_dates = pd.to_datetime(new_trafic_data['travel_date'])

# adding a new column (weekday) to our dataframe
new_trafic_data['weekday'] = route_dates.dt.weekday_name

### Filtering out the routes  travelled on a Sunday

In [223]:
traveled_on_sunday = new_trafic_data[new_trafic_data['weekday']=='Sunday']
traveled_on_sunday.head()

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity,weekday
1,5437,14A,Mpesa,TIHLBUSGTE,19-11-17,7:12,Migori,Nairobi,Bus,49,Sunday
2,5710,8B,Mpesa,EQX8Q5G19O,26-11-17,7:05,Keroka,Nairobi,Bus,49,Sunday
111,5856,9,Cash,MDF1ULUMPX,15-04-18,5:20,Kisii,Nairobi,shuttle,11,Sunday
112,5857,6,Cash,MDF1ULG1GR,15-04-18,5:00,Kisii,Nairobi,shuttle,11,Sunday
113,5857,3,Cash,MDF6ULD8NQ,15-04-18,5:00,Kisii,Nairobi,shuttle,11,Sunday

### Get the total number of times traveled on a route

In [224]:
total_counts = traveled_on_sunday.groupby(['travel_from','travel_to']).size().reset_index(name='Count')
total_counts

   travel_from travel_to  Count
0       Awendo   Nairobi    296
1     Homa Bay   Nairobi    910
2     Kehancha   Nairobi    301
3       Keroka   Nairobi     41
4       Keumbu   Nairobi      3
5      Kijauri   Nairobi    115
6        Kisii   Nairobi   2756
7        Mbita   Nairobi     83
8       Migori   Nairobi    973
9       Ndhiwa   Nairobi     45
10   Nyachenge   Nairobi     85
11        Rodi   Nairobi     63
12       Rongo   Nairobi    538
13      Sirare   Nairobi    629
14        Sori   Nairobi      9

### Sort the data using Count column in decending order

In [225]:
total_counts_sorted = total_counts.sort_values(['Count'], ascending=[0])
total_counts_sorted

   travel_from travel_to  Count
6        Kisii   Nairobi   2756
8       Migori   Nairobi    973
1     Homa Bay   Nairobi    910
13      Sirare   Nairobi    629
12       Rongo   Nairobi    538
2     Kehancha   Nairobi    301
0       Awendo   Nairobi    296
5      Kijauri   Nairobi    115
10   Nyachenge   Nairobi     85
7        Mbita   Nairobi     83
11        Rodi   Nairobi     63
9       Ndhiwa   Nairobi     45
3       Keroka   Nairobi     41
14        Sori   Nairobi      9
4       Keumbu   Nairobi      3

### Get the averange

In [226]:
total_counts_sorted['Average'] = total_counts_sorted['Count']/total_counts_sorted.shape[0]
total_counts_sorted.iloc[0:7, :]

   travel_from travel_to  Count     Average
6        Kisii   Nairobi   2756  183.733333
8       Migori   Nairobi    973   64.866667
1     Homa Bay   Nairobi    910   60.666667
13      Sirare   Nairobi    629   41.933333
12       Rongo   Nairobi    538   35.866667
2     Kehancha   Nairobi    301   20.066667
0       Awendo   Nairobi    296   19.733333

## Question Two

In [227]:
kijauri_route_data = new_trafic_data[new_trafic_data['travel_from']=='Kijauri']
kijauri_route_data.head()

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity,weekday
1625,6560,1A,Mpesa,XY20JTZHY4,04-12-17,7:07,Kijauri,Nairobi,Bus,49,Wednesday
1658,6568,9,Mpesa,EJXHRAFPCQ,04-12-17,7:00,Kijauri,Nairobi,shuttle,11,Wednesday
1663,6560,21B,Mpesa,QVBJ6ZAT75,04-12-17,7:07,Kijauri,Nairobi,Bus,49,Wednesday
1685,6570,20B,Mpesa,0KBEL0BJDK,04-12-17,7:06,Kijauri,Nairobi,Bus,49,Wednesday
1700,6568,10,Mpesa,IFXMNKI8NO,04-12-17,7:00,Kijauri,Nairobi,shuttle,11,Wednesday

### Probability that a passenger will onboard a shutle

In [228]:
const_time = datetime.datetime.strptime('7:30','%H:%M').time()
time = pd.to_datetime(kijauri_route_before_time['travel_time'],format= '%H:%M').dt.time
new_kijauri_route_before_time=kijauri_route_before_time[time < const_time]
shuttle = new_kijauri_route_before_time[new_kijauri_route_before_time['car_type'] == 'shuttle']

In [229]:
shuttle.shape[0]/new_kijauri_route_before_time.shape[0]

0.5286935286935287

### Question 3

In [230]:
kissi = new_trafic_data[new_trafic_data['travel_from']=='Kisii']
kissi

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity,weekday
12,5784,1X,Mpesa,3OPU23FHRB,20-04-18,5:10,Kisii,Nairobi,shuttle,11,Friday
13,5789,1X,Mpesa,BPRX4UMFFN,20-04-18,9:50,Kisii,Nairobi,shuttle,11,Friday
15,5790,1B,Mpesa,DC8ABRSXXK,20-04-18,7:06,Kisii,Nairobi,Bus,49,Friday
16,5791,1,Mpesa,HGQURN0SZS,20-04-18,6:00,Kisii,Nairobi,shuttle,11,Friday
17,5792,1,Mpesa,8D9V8HK2FC,20-04-18,5:50,Kisii,Nairobi,shuttle,11,Friday
18,5793,1,Mpesa,TTZQDYZHAB,20-04-18,10:58,Kisii,Nairobi,shuttle,11,Friday
19,5790,4A,Mpesa,F8VBKYCXPL,20-04-18,7:06,Kisii,Nairobi,Bus,49,Friday
20,5794,1,Mpesa,ETNVCDEZLR,20-04-18,6:50,Kisii,Nairobi,shuttle,11,Friday
23,5795,1,Mpesa,VIRXVJUIYX,20-04-18,5:30,Kisii,Nairobi,shuttle,11,Friday
24,5796,5,Mpesa,9CSSSQN2TN,20-04-18,6:40,Kisii,Nairobi,shuttle,11,Friday
25,5796,1,Mpesa,BC0SCWB6NU,20-04-18,6:40,Kisii,Nairobi,shuttle,11,Friday
26,5794,5,Mpesa,RKP8WWJZWH,20-04-18,6:50,Kisii,Nairobi,shuttle,11,Friday
28,5798,8,Mpesa,E9VOECFN3N,20-04-18,9:10,Kisii,Nairobi,shuttle,11,Friday
30,5800,1X,Mpesa,CIBMZGHZMB,19-04-18,5:00,Kisii,Nairobi,shuttle,11,Thursday
31,5801,10,Mpesa,850RJSQX3R,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
35,5801,9,Mpesa,ODECBCFRYU,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
36,5801,8,Mpesa,ORNBOX9AWQ,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
37,5800,1,Mpesa,CKC15RQNWJ,19-04-18,5:00,Kisii,Nairobi,shuttle,11,Thursday
38,5801,7,Mpesa,4KQ16PRWJW,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
40,5801,6,Mpesa,POKZIETAKP,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
41,5801,5,Mpesa,PS254MLKFP,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
42,5801,4,Mpesa,EVVTXE1EWL,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
43,5803,10,Mpesa,YT1MAORM4I,19-04-18,5:10,Kisii,Nairobi,shuttle,11,Thursday
44,5801,3,Mpesa,RIYKNYRA4R,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
45,5801,2,Mpesa,G9OZFJY4NC,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
46,5801,1,Mpesa,OOTYQP3TIJ,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
47,5801,1X,Mpesa,TBJMRMKQLJ,19-04-18,5:20,Kisii,Nairobi,shuttle,11,Thursday
48,5803,7,Mpesa,HL2AXIBBLE,19-04-18,5:10,Kisii,Nairobi,shuttle,11,Thursday
50,5803,9,Mpesa,713WAFLVIH,19-04-18,5:10,Kisii,Nairobi,shuttle,11,Thursday
53,5803,8,Mpesa,9ZGZK4I0AC,19-04-18,5:10,Kisii,Nairobi,shuttle,11,Thursday
...,...,...,...,...,...,...,...,...,...,...,...
50930,13684,1,Mpesa,PLIOKAKUGI,27-11-17,8:10,Kisii,Nairobi,shuttle,11,Monday
50931,13684,4,Mpesa,G1NLUOS1JI,27-11-17,8:10,Kisii,Nairobi,shuttle,11,Monday
50932,13684,7,Mpesa,PVRZIIVSIX,27-11-17,8:10,Kisii,Nairobi,shuttle,11,Monday
50933,13684,6,Mpesa,8XIZ26DRGN,27-11-17,8:10,Kisii,Nairobi,shuttle,11,Monday
50941,13732,10,Mpesa,VUIQZI8NDH,27-11-17,8:00,Kisii,Nairobi,shuttle,11,Monday
50942,13732,9,Mpesa,FENJYK5TXN,27-11-17,8:00,Kisii,Nairobi,shuttle,11,Monday
50943,13733,21B,Mpesa,5IJJDUJIWD,27-11-17,7:15,Kisii,Nairobi,Bus,49,Monday
50944,13733,8A,Mpesa,FNWFHGTERF,27-11-17,7:15,Kisii,Nairobi,Bus,49,Monday
50945,13733,16A,Mpesa,RGO22LT0PT,27-11-17,7:15,Kisii,Nairobi,Bus,49,Monday
50946,13733,7B,Mpesa,S8FLZLYBTK,27-11-17,7:15,Kisii,Nairobi,Bus,49,Monday
50947,20116,6,Mpesa,EZHIPJIS2T,27-11-17,7:10,Kisii,Nairobi,shuttle,11,Monday
50948,13734,16A,Mpesa,YDUV0IUTFT,27-11-17,7:12,Kisii,Nairobi,Bus,49,Monday
50949,13734,15A,Mpesa,Y56ZUTKRRP,27-11-17,7:12,Kisii,Nairobi,Bus,49,Monday
50950,13735,10,Mpesa,EY3YRTWUA2,27-11-17,7:00,Kisii,Nairobi,shuttle,11,Monday
50951,13735,6,Mpesa,BAG0VRPL8T,27-11-17,7:00,Kisii,Nairobi,shuttle,11,Monday
50952,13735,5,Mpesa,HKVJMKYCH3,27-11-17,7:00,Kisii,Nairobi,shuttle,11,Monday
50953,13735,7,Mpesa,0WRSQ21W70,27-11-17,7:00,Kisii,Nairobi,shuttle,11,Monday
50954,13734,14A,Mpesa,Y6INMVNNZ6,27-11-17,7:12,Kisii,Nairobi,Bus,49,Monday
50955,13734,12A,Mpesa,CW5BJDNUH2,27-11-17,7:12,Kisii,Nairobi,Bus,49,Monday
50956,13735,2,Mpesa,B7VBGJAOJJ,27-11-17,7:00,Kisii,Nairobi,shuttle,11,Monday
50957,13735,4,Mpesa,LNCNY6TBQ1,27-11-17,7:00,Kisii,Nairobi,shuttle,11,Monday
50958,13736,1,Mpesa,ZP3L1QH1QK,27-11-17,6:50,Kisii,Nairobi,shuttle,11,Monday
50959,13354,10B,Mpesa,KL0CA89R6H,27-11-17,7:06,Kisii,Nairobi,Bus,49,Monday
50976,13742,1,Mpesa,SHR0GBL5CW,27-11-17,5:20,Kisii,Nairobi,shuttle,11,Monday
51078,13757,1,Mpesa,8IEFZXKN7H,27-11-17,6:20,Kisii,Nairobi,shuttle,11,Monday
51098,13760,1,Mpesa,RHOIWKR9XD,27-11-17,5:50,Kisii,Nairobi,shuttle,11,Monday
51107,13761,2,Mpesa,VCDOGNVTG2,27-11-17,5:00,Kisii,Nairobi,shuttle,11,Monday
51195,13761,1,Mpesa,AQGYCPOGLQ,27-11-17,5:00,Kisii,Nairobi,shuttle,11,Monday
51299,20117,1X,Mpesa,BUSNKXBGQS,27-11-17,5:00,Kisii,Nairobi,Bus,49,Monday
51644,14304,7,Mpesa,AQN7FBUSGP,14-11-17,5:10,Kisii,Nairobi,Bus,49,Tuesday